@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  min-height: 100vh;
  background-color: rgb(52, 18, 51)
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  flex-direction: column;
  background-color: #ddd;
  width: 400px;
  height: 200px;
  text-align: center;
  justify-content: space-evenly;

}

.container .selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.5rem;
}

