@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100vh;
  background-color: rgb(18, 52, 45)
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ddd;
  width: 400px;
  min-height: 300px;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
}

.input-tareas {
  width: 100%;
  display: flex;
}

#ingresar-tarea {
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
}

#agregar {
  padding: 0 0.5rem;
}

.contenedor-tareas {
  width: 100%;
}

.lista-tareas {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.2rem;
}

.tarea {
  padding: 0.5rem;
  background-color: #407ba6;
  display: flex;
  justify-content: space-between;
}

.tarea span {
  color: #FFF;
}

.tarea i {
  color: #FFF;
}

.tarea.hecha {
  background-color: #1f4e70;
}

.tarea.hecha span {
  text-decoration: line-through;
  color: #000;
}