@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  min-height: 100vh;
  background-color: rgb(18, 20, 52)
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  flex-direction: column;
  background-color: #ddd;
  width: 400px;
  height: 300px;
  text-align: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;

}

.container .citas {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.citas .cita {
  font-style: italic;
}

.citas .autor {
  text-align: end;
}

