@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #FFF;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  flex-direction: column;
  background-color: #ddd;
  width: 400px;
  height: 150px;
  text-align: center;
}

.container span {
  padding: 1rem;
  font-size: 3rem;
  font-weight: 900;
}

#color-btn {
  width: 200px;
}